app:
  name: supersonic
  port: 3000

replicaCount: 3

image:
  repository: docker-repo.soorokim.com/supersonic
  tag: d827f5e

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /
  hosts:
    - host: supersonic.soorokim.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

service:
  type: NodePort
  port: 80
  targetPort: 3000

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

healthCheck:
  enabled: true
  path: /api/health
  initialDelaySeconds: 15
  readinessInitialDelaySeconds: 5
  periodSeconds: 10
